<aside class="sidebar">
  <ul>
    <li>
      <a
        routerLink="/dashboard/home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img src="assets/icons/home.svg" alt="Accueil" class="icon" />
        Accueil
      </a>
    </li>
    <li>
      <a
        routerLink="/dashboard/students"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img src="assets/icons/students.svg" alt="Étudiants" class="icon" />
        Étudiants
      </a>
    </li>
    <li>
      <a
        routerLink="/dashboard/sessions"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img src="assets/icons/session.svg" alt="Sessions" class="icon" />
        Sessions
      </a>
    </li>
    <li>
      <a
        routerLink="/dashboard/feedbacks"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img src="assets/icons/feedback.svg" alt="Feedbacks" class="icon" />
        Feedbacks
      </a>
    </li>
  </ul>
</aside>
